@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-scroll-hide::-webkit-scrollbar {
    display: none;
  }
  .custom-scroll-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  